img.mat-card-image {
  min-height: 200px;
  max-height: 200px;
}

.mat-flat-button.mat-primary{
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-flat-button.mat-primary:hover {
  background-color: rgb(223, 13, 13);
}

.mat-card {
  display: block;
  background-color: rgba(0, 0, 255, 0.68);
  font-size: 20px;
  font-weight: 500;
  
}


.mat-card:hover{
background-color:red;
}