
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">
<section class="container">
  <form class="container">
    <div class="login">
      <!-- <p>nome:{{nome}}</p>
      <p>email:{{email}}</p>
      <p>senha:{{senha}}</p> -->
    <div class="login-name">
      <label class="form-label" for="nome">Nome</label>
    <input class="nome-input" type="text" id="nome"/>
  </div>

      <div class="login-input">
      <label class="form-label" for="email">Email</label>
    <input class="email-input" type="text" id="email"

    />
  </div>

      <div class="senha-login">
    <label for="senha">Senha</label>
    <input class="senha-input" type="number" id="senha"

    />
      </div>

      <div class="button-login">
    <button class="btn-login" type="submit">Entrar</button>
  </div>
  </div>
  </form>
  </section>

