<section class="section">
  <div class="dados">
</div>
</section>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-bar w3-black">
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="caracteres" class="w3-bar-item w3-button">Personagens</a>
  <a href="comics" class="w3-bar-item w3-button">Quadrinhos</a>
  <a href="pesquisar" class="w3-bar-item w3-button">Pesquisar</a>
  <a href="login" class="w3-bar-item w3-button">Sair</a>
</div>
<input
className="input-seach"
type="text"
name="inputbar"
/>
<button
type="submit"
value="Pesquisar"
>
Pesquisar
</button>

<nav class="links">
  <ul>

  </ul>

