.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
}

.mat-toolbar.mat-primary {
  background-image: url(./city.jpg);
  background-size: cover;
  background-color: black;
  position: sticky;
  height: 150px;
  border: 20px solid black;
  
}
