.section{
  justify-content: flex-end;
    color: white;
    width: 100%;
    opacity: 1.0;
    flex-direction: row-reverse;
    background-image:url(./city.jpg);
    background-repeat:round;
    background:cover;
    padding: 10px;
    height: 200px;
    flex-direction: row-reverse;

}

.dados{
  background-color: rgba(0, 0, 0, 0.587);
  border-radius: 20px;
  padding: 10px;
  width: 20%;
}

input{
  margin: 20px;
  width: 300px;
  height: 30px;
 }

.bemvindo{
  margin-top: 50px;
  align-items: center;
  text-align: center;
}
