.container {
  padding: 10px;
  text-align:center;
  font-size:20px;
 }

 button{
   border-radius: 4px;
   margin-top: 20px;
  padding: 10px;
 }


 button:hover{
   background-color: #ea5104;
 }

 input{
   height: 40px;
   display: block;
   text-align: center;
   border-radius: 4px;
   color: inherit;
   border: 1px solid;
   outline: none;
   margin-top: 4px;
   width: 80%;
 }

 label{
   color: inherit;
     margin-bottom: 4px;
     font-size: 15px;
     margin-top: 5px;
 }


 .login{
  opacity: 0.9;
  background-image: url(./pontos.png);
  background-size: cover;
  background-color: #00000079;
   zoom: 70%;
      text-align: left;
       padding: 30px;
       transform: scale(1.5);
       border-radius: 4px;
       background-color: #ffffffd6;
       width: 400px;
       height: 400px;
       box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 6px rgb(0 0 0 / 53%);
       border: 5px solid #ff0000e9;
   }

   input{
     margin: 10px;
    margin-top: 15px;
     display: flex;
     margin-left: 10%;

   }

   button{
     border-radius:10px;
     text-align: center;
     justify-content: center;
     margin-left: 40%;
   }

   label{
    border-radius:5px;
     padding: 8px;
     background-color:rgba(255, 0, 0, 0.89);
     border: 0.5px solid rgba(14, 13, 13, 0.332);

   }


 form{
background-image: url(./marvel.jpg);
   background-repeat: cover;
   text-align: left;
   flex-direction: column;
   display: block;
   align-items: center;
   background-size: cover;
   display: flex;
   flex-direction: row;
   height: 100vh;
   justify-content: center;
   width: 100vw;
 }





